In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import random as random
plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings("ignore")

C:\Users\eincr\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Use functions from .py file
%load_ext autoreload
%autoreload 2
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

import src.functions as funcs

In [3]:
super_explore =  pd.read_csv('superstore.csv', encoding = 'unicode_escape')

In [4]:
n = funcs.random_customer_orders(super_explore, 1, 150000, 17000, 1, 50, 0, 9994)
n

,Day,orders,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,8228,8228,CA-2016-123050,4/4/2016,4/8/2016,Second Class,BC-11125,Becky Castell,Home Office,...,12180,East,FUR-FU-10000723,Furniture,Furnishings,"Deflect-o EconoMat Studded, No Bevel Mat for L...",82.64,2,0.0,7.4376
1,1,8228,8228,CA-2016-123050,4/4/2016,4/8/2016,Second Class,BC-11125,Becky Castell,Home Office,...,12180,East,FUR-FU-10000723,Furniture,Furnishings,"Deflect-o EconoMat Studded, No Bevel Mat for L...",82.64,2,0.0,7.4376
2,1,8228,8228,CA-2016-123050,4/4/2016,4/8/2016,Second Class,BC-11125,Becky Castell,Home Office,...,12180,East,FUR-FU-10000723,Furniture,Furnishings,"Deflect-o EconoMat Studded, No Bevel Mat for L...",82.64,2,0.0,7.4376
3,1,8228,8228,CA-2016-123050,4/4/2016,4/8/2016,Second Class,BC-11125,Becky Castell,Home Office,...,12180,East,FUR-FU-10000723,Furniture,Furnishings,"Deflect-o EconoMat Studded, No Bevel Mat for L...",82.64,2,0.0,7.4376
4,1,8228,8228,CA-2016-123050,4/4/2016,4/8/2016,Second Class,BC-11125,Becky Castell,Home Office,...,12180,East,FUR-FU-10000723,Furniture,Furnishings,"Deflect-o EconoMat Studded, No Bevel Mat for L...",82.64,2,0.0,7.4376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667766,50,4409,4409,CA-2016-100041,11/20/2016,11/25/2016,Standard Class,BF-10975,Barbara Fisher,Corporate,...,47201,Central,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",4.91,1,0.0,2.3077
7667767,50,4409,4409,CA-2016-100041,11/20/2016,11/25/2016,Standard Class,BF-10975,Barbara Fisher,Corporate,...,47201,Central,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",4.91,1,0.0,2.3077
7667768,50,4409,4409,CA-2016-100041,11/20/2016,11/25/2016,Standard Class,BF-10975,Barbara Fisher,Corporate,...,47201,Central,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",4.91,1,0.0,2.3077
7667769,50,4409,4409,CA-2016-100041,11/20/2016,11/25/2016,Standard Class,BF-10975,Barbara Fisher,Corporate,...,47201,Central,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",4.91,1,0.0,2.3077
7667770,50,4409,4409,CA-2016-100041,11/20/2016,11/25/2016,Standard Class,BF-10975,Barbara Fisher,Corporate,...,47201,Central,OFF-BI-10000343,Office Supplies,Binders,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",4.91,1,0.0,2.3077

In [5]:
n[n["Day"] == 1]['orders'].value_counts()

9275    34
1571    33
4382    31
5910    31
9903    31
        ..
5624     5
5276     5
4995     4
1168     4
801      4
Name: orders, Length: 9993, dtype: int64

In [6]:
n["Day"].value_counts()

19    209741
3     187967
29    186496
24    179271
10    176479
41    173345
28    171579
21    169592
6     169585
20    167215
39    166219
35    165334
46    163674
1     163483
27    163375
2     161130
32    160938
8     160798
23    158438
45    156893
11    156631
44    156245
50    154307
26    153920
40    152473
25    152425
31    151183
7     150773
37    149681
33    148548
4     148047
48    148031
14    147259
38    146335
9     144386
16    143070
17    142251
12    141907
42    140172
13    140000
43    138445
34    138338
15    138052
49    137631
47    136373
22    128209
5     122908
36    120804
30    118189
18    109626
Name: Day, dtype: int64

In [7]:
Central_to_South = funcs.Central_to_South(n)
Central_to_South['Destination'] = "Central_to_South"
Central_to_West = funcs.Central_to_West(n)
Central_to_West['Destination'] = "Central_to_West"
Central_to_East= funcs.Central_to_East(n)
Central_to_East['Destination'] = "Central_to_East"
Central_Outbound = pd.concat([Central_to_South, Central_to_West, Central_to_East], axis=0)

In [8]:
East_to_South = funcs.East_to_South(n)
East_to_South['Destination'] = "East_to_South"
East_to_Central = funcs.East_to_Central(n)
East_to_Central['Destination'] = "East_to_Central"
East_to_West = funcs.East_to_West(n)
East_to_West['Destination'] = "East_to_West"
East_Outbound = pd.concat([East_to_South, East_to_Central, East_to_West], axis=0)

In [9]:
South_to_East = funcs.South_to_East(n)
South_to_East['Destination'] = "South_to_East"
South_to_Central = funcs.South_to_Central(n)
South_to_Central['Destination'] = "South_to_Central"
South_to_West = funcs.South_to_West(n)
South_to_West['Destination'] = "South_to_West"
South_Outbound = pd.concat([South_to_East, South_to_Central, South_to_West], axis=0)

In [10]:
West_to_South = funcs.West_to_South(n)
West_to_South['Destination'] = "West_to_South"
West_to_Central = funcs.West_to_Central(n)
West_to_Central['Destination'] = "West_to_Central"
West_to_East = funcs.West_to_East(n)
West_to_East['Destination'] = "West_to_East"
West_Outbound = pd.concat([West_to_South, West_to_Central, West_to_East], axis=0)

In [11]:
# Set the mean and standard deviation for the three columns
mean = [8500, 7500, 6750, 8000, 7750, 8750, 6900, 8900, 7250, 8250, 7100, 7800]
std = [1000, 1500, 2000, 1250, 1750, 1100, 1900, 1350, 1800, 1600, 1400, 1150]

# Generate 150 random numbers from a normal distribution for each column
Column1 = np.random.normal(mean[0], std[0], 150)
Column2 = np.random.normal(mean[1], std[1], 150)
Column3 = np.random.normal(mean[2], std[2], 150)
Column4 = np.random.normal(mean[3], std[3], 150)
Column5 = np.random.normal(mean[4], std[4], 150)
Column6 = np.random.normal(mean[5], std[5], 150)
Column7 = np.random.normal(mean[6], std[6], 150)
Column8 = np.random.normal(mean[7], std[7], 150)
Column9 = np.random.normal(mean[8], std[8], 150)
Column10 = np.random.normal(mean[9], std[9], 150)
Column11 = np.random.normal(mean[10], std[10], 150)
Column12 = np.random.normal(mean[11], std[11], 150)

# Create a dataframe from the generated numbers
loads = pd.DataFrame({"C_to_S": Column1,  "C_to_W": Column2, "C_to_E": Column3, 
                   "E_to_S": Column4 , "E_to_C": Column5 , 'E_to_W' : Column6,
                   "S_to_E" : Column7 , "S_to_C": Column8, "S_to_W": Column9, 
                   "W_to_S": Column10, "W_to_C": Column11, "W_to_E": Column12})

loads

,C_to_S,C_to_W,C_to_E,E_to_S,E_to_C,E_to_W,S_to_E,S_to_C,S_to_W,W_to_S,W_to_C,W_to_E
0,8047.523543,8694.699197,8596.692483,7608.456125,8950.309138,7536.114289,5056.581667,8173.537291,8542.792652,7299.028832,7305.420337,8827.476952
1,8334.324107,8758.474499,6756.843314,8865.580813,9005.473043,9430.991910,5185.579673,10765.456404,6314.154320,9604.140431,6605.389287,8956.070599
2,7640.091128,7145.463230,7648.104031,8086.812133,6797.805345,8323.376598,5519.646798,8348.276720,4614.250881,9132.604570,9069.874281,8649.894503
3,7607.988923,5656.951656,5981.856707,6346.267278,4894.527255,8002.633688,8167.184274,10825.522485,8646.113547,7300.487726,7897.704061,7099.040685
4,8113.551929,7555.871448,5003.531054,8951.936704,6482.256895,8885.763832,8060.762451,6902.249130,5880.079034,9065.730205,5225.149935,8126.857743
...,...,...,...,...,...,...,...,...,...,...,...,...
145,10243.886158,4620.004130,6246.215634,6959.750250,9378.802925,8244.704002,8271.856019,11012.929392,7505.795649,9638.540567,7756.620799,7691.511084
146,7815.139164,6196.162285,5018.715817,8698.225961,5912.943929,9101.605394,10419.001097,8570.786436,10501.066560,6354.649209,7511.263239,6376.094533
147,8081.325361,7655.822978,7273.123989,7832.737190,4482.026197,7961.122608,6666.657626,11548.200268,3084.456587,10304.979931,6125.250973,5778.981463
148,8830.197187,6795.417529,8606.895834,7605.760892,5406.733099,9453.001480,6372.493940,8383.299428,8609.823431,9302.067813,4506.560765,10313.271308
149,8215.778048,5964.036593,8990.956202,7968.529744,8656.572530,9140.318634,10658.900834,9995.515098,7839.199058,8972.529658,6106.225225,7690.279555

In [12]:
funcs.high_middle_low(Central_to_West, 1)

   high  middle   low
0  2977    3054  8282

In [13]:
df = funcs.combined_df(Central_to_West, 1, loads, "C_to_W")
df

   high  middle   low   sent_units
0  2977    3054  8282  8694.699197

In [14]:
df2 = funcs.remainder(df)
df2

   high  middle   low   sent_units    remainder remainder_type
0  2977    3054  8282  8694.699197  5618.300803            low

In [19]:
df1 = funcs.new_remainder_type(df2)
df1

   new_high  new_middle      new_low  middleqqq  lowqqq
0       0.0         0.0  5618.300803       3054    8282

In [22]:
def create_new_df(df1, df2):
    from pandasql import sqldf
    pysqldf = lambda q: sqldf(q, globals())
    query = """
    SELECT 
        CASE
            WHEN df1.new_high > 0 THEN df1.new_high + df2.high
            ELSE df2.high
        END AS high,
        CASE
            WHEN df1.new_high > 0 THEN df1.middleqqq + df2.middle
            WHEN df1.new_middle > 0 THEN df1.new_middle + df2.middle
            ELSE df2.middle
        END AS middle,
        CASE
            WHEN df1.new_high > 0 THEN df1.lowqqq + df2.low
            WHEN df1.new_middle > 0 THEN df1.lowqqq + df2.low
            WHEN df1.new_low > 0 THEN df1.new_low + df2.low
            ELSE df2.low
        END AS low
    FROM 
        df1
    JOIN 
        df2
    """
    df3 = pysqldf(query)
    return df3

In [23]:
create_new_df(df1, df2)

   high  middle           low
0  2977    3054  13900.300803

In [ ]:
def high_middle_low(df, day):
    high = len(df[(df["Ship Mode"] == "First Class") & (df["Day"] == day)]) +\
           len(df[(df["Ship Mode"] == "Same Day") & (df["Day"] == day)])
    middle = len(df[(df["Ship Mode"] == "Second Class") & (df["Day"] == day)])
    low = len(df[(df["Ship Mode"] == "Standard Class") & (df["Day"] == day)])
    return pd.DataFrame({'high': [high], 'middle': [middle], 'low': [low]})

In [ ]:
def combined_df(dest1, day, dest1a):
    df1 = high_middle_low(dest1, day)
    df1['sent_units'] = loads[dest1a][day -1]
    return df1

In [ ]:
df = combined_df(Central_to_East, 1, "C_to_E")

In [ ]:
df

In [ ]:
def remainder(df):
    from pandasql import sqldf
    # Use pandasql to join the two dataframes
    query = '''
    SELECT
        df.high,
        df.middle,
        df.low,
        df.sent_units,
        CASE
            WHEN df.high > df.sent_units THEN df.high - df.sent_units
            WHEN df.high + df.middle > df.sent_units THEN  df.high + df.middle - df.sent_units
            ELSE df.high + df.middle + df.low - df.sent_units
        END AS remainder
    FROM
        df
    '''
    df_result = sqldf(query)

    #create a new column indicating the remainder is high, middle or low 
    df_result['remainder_type'] = np.where(df.high > df.sent_units, 'high',
                                      np.where(df.high + df.middle > df.sent_units, 'middle',
                                               np.where(df.high + df.middle + df.low - df.sent_units > 0, 'low', 'other')))

    return df_result

In [ ]:
df2 = remainder(df)
df2

In [ ]:
def new_remainder_type(df, new_df):
    new_df['new_high'] = df.loc[df['remainder_type'] == 'high', 'remainder']
    new_df['new_middle'] = df.loc[df['remainder_type'] == 'middle', 'remainder']
    new_df['new_low'] = df.loc[df['remainder_type'] == 'low', 'remainder']
    new_df['middleqqq'] = df['middle']
    new_df['lowqqq'] = df['low']
    new_df = new_df.fillna(0)
    return new_df

In [ ]:
df1 = new_remainder_type(df2, new_df)
df1

In [ ]:
def create_new_df(df1, df2):
    pysqldf = lambda q: sqldf(q, globals())
    
    query = """
    SELECT 
        CASE
            WHEN df1.new_high > 0 THEN df1.new_high + df2.high
            ELSE df2.high
        END AS high,
        CASE
            WHEN df1.new_high > 0 THEN df1.middleqqq + df2.middle
            WHEN df1.new_middle > 0 THEN df1.new_middle + df2.middle
            ELSE df2.middle
        END AS middle,
        CASE
            WHEN df1.new_high > 0 THEN df1.lowqqq + df2.low
            WHEN df1.new_middle > 0 THEN df1.lowqqq + df2.low
            WHEN df1.new_low > 0 THEN df1.new_low + df2.low
            ELSE df2.low
        END AS low
    FROM 
        df1
    JOIN 
        df2
    """
    df3 = pysqldf(query)
    return df3

In [ ]:
df1 = pd.DataFrame({'new_high':[5,6,7], 'new_middle':[1,2,3], 'middleqqq':[2,3,4], 'lowqqq':[3,4,5], 'new_low':[1,2,3]})
df2 = pd.DataFrame({'high':[1,2,3], 'middle':[4,5,6], 'low':[7,8,9]})
df3 = create_new_df(df1, df2)
print(df3)

In [ ]:
create_new_df(df1, df2)

In [ ]:
df1 = pd.DataFrame({'new_high':[5,6,7], 'new_middle':[1,2,3], 'middle?':[2,3,4], 'low?':[3,4,5], 'new_low':[1,2,3]})
df2 = pd.DataFrame({'high':[1,2,3], 'middle':[4,5,6], 'low':[7,8,9]})
df3 = create_new_df(df1, df2)
print(df3)

In [ ]:
import pandas as pd

# Create sample dataframes
df1 = pd.DataFrame({'new_high': [7, 3, 8, 4, 6]})
df2 = pd.DataFrame({'high': [2, 5, 3, 7, 9]})

# Create an empty dataframe
df3 = pd.DataFrame()

# Add the values of DF1's new_high column and df2's high column to df3's high column
# only when DF1's new_high column is greater than 5
df3['high'] = df1['new_high'] + df2['high']
df3['high'] = df3['high'].where(df1['new_high'] > 5, 0)

# View the resulting dataframe
print(df3)

In [ ]:

def add_remainder_to_new_df(df, df2):
    new_df = pd.DataFrame()  
    if df[df['new_high'] > 0.0]:
        new_df["high"] = df['new_high'] + df2['high']
    return new_df

In [ ]:
add_remainder_to_new_df(df3, df2)

In [ ]:
df1 = high_middle_low(Central_to_East, 1)
df1['sent_units'] = loads['C_to_S']

In [ ]:
df1

In [ ]:
df2['sent_units'][0]

In [ ]:
df2 = pd.DataFrame({'sent_units': [loads['C_to_S']]})

In [ ]:
df2.transpose()

In [ ]:
from pandasql import sqldf

# Use pandasql to join the two dataframes
query = '''
SELECT
    df1.high,
    df1.middle,
    df1.low,
    df1.sent_units,
    CASE
        WHEN df1.high > df1.sent_units THEN df1.high - df1.sent_units
        WHEN df1.high + df1.middle > df1.sent_units THEN  df1.high + df1.middle - df1.sent_units
        ELSE df1.high + df1.middle + df1.low - df1.sent_units
    END AS remainder
FROM
    df1
'''

df_result = sqldf(query)

#create a new column indicating the remainder is high, middle or low 
df_result['remainder_type'] = np.where(df1.high > df1.sent_units, 'high',
                                      np.where(df1.high + df1.middle > df1.sent_units, 'middle',
                                               np.where(df1.high + df1.middle + df1.low - df1.sent_units > 0, 'low', 'other')))

df_result

In [ ]:
def add_remainder_to_new_df(df, new_df):
    new_df['new_high'] = df.loc[df['remainder_type'] == 'high', 'remainder']
    new_df['new_middle'] = df.loc[df['remainder_type'] == 'middle', 'remainder']
    new_df['new_low'] = df.loc[df['remainder_type'] == 'low', 'remainder']
    new_df['middle?'] = df['middle']
    new_df['low?'] = df['low']
    new_df = new_df.fillna(0)
    return new_df

In [ ]:
new_df = pd.DataFrame()
dfff = add_remainder_to_new_df(df_result, new_df)

In [ ]:
dfff

In [ ]:
def add_remainders_to_new_df(df, new_df):
    new_df["newhigh"] = 0
    new_df["newmedium"] = 0
    new_df["newlow"] = 0
    # filter rows where remainder_type is high
    high_remainder = df.loc[df["remainder_type"] == "high"]
    # assign remainder value to newhigh column in new_df
    new_df.loc[high_remainder.index, "newhigh"] = high_remainder["remainder"]
    # filter rows where remainder_type is medium
    medium_remainder = df.loc[df["remainder_type"] == "medium"]
    # assign remainder value to newmedium column in new_df
    new_df.loc[medium_remainder.index, "newmedium"] = medium_remainder["remainder"]
    # filter rows where remainder_type is low
    low_remainder = df.loc[df["remainder_type"] == "low"]
    # assign remainder value to newlow column in new_df
    new_df.loc[low_remainder.index, "newlow"] = low_remainder["remainder"]

In [ ]:
new_df = pd.DataFrame()
add_remainders_to_new_df(df_result, new_df)

In [ ]:
def newwwww(df_result['remainder_type']):
    df4_result = pd.DataFrame()
    df4_result["new_middle"] = np.where(df_result[remainder_type] == 'middle')
    return df4_result

In [ ]:
def my_fun (var1,var2,var3):
    df[var3]= np.where((df[var1]-df[var2])>0, df[var1]-df[var2], 0)
    return df

df1 = my_fun('age1','age2','diff')
print (df1)
   age1  age2  diff
0    23    10    13
1    45    20    25
2    21    50     0

In [ ]:
def newwwww(  ):
    if df[df['remainder_type'] == 'middle']:
        return df

In [ ]:
newwwww(df_result)

In [ ]:
def newwwww(df):
    if df.remainder_type == "high":
        return newdf["high"] == df["remainder"], new_df["middle"] == df["middle"], new_df["low"] == df["low"]
    elif df.remainder_type == "middle":
        return df["newhigh"] == 0, new_df["middle"] == df["remainder"], new_df["low"] == df["low"]
    elif df.remainder_type == "low":
        return df["newhigh"] == 0, new_df["middle"] == 0, new_df["low"] == df["remainder"]
    elif df.remainder_type == "other":
        return df["newhigh"] == 0, new_df["middle"] == 0, new_df["low"] == 0

In [ ]:
def newwwww(df):
    if df[df['remainder_type'] == 'high']:
        return df["newhigh"] == df["remainder"]
    elif df[df['remainder_type'] == 'middle']:
        return df["newmiddle"] == df["remainder"]
    elif df[df['remainder_type'] == 'low']:
        return df["newlow"] == df["remainder"]

In [ ]:
newwwww(df_result)

In [ ]:
query = '''
SELECT
    df_result.high,
    df_result.middle,
    df_result.low,
    df_result.remainder, 
    df_result.remainder_type,
    CASE
        WHEN df_result.remainder_type = high THEN df_result.high 
        
        
        df1.high > df2.sent_units THEN df1.high - df2.sent_units
        WHEN df1.high + df1.middle > df2.sent_units THEN  df1.high + df1.middle - df2.sent_units
        ELSE df1.high + df1.middle + df1.low - df2.sent_units
    END AS remainder
FROM
    df_result

In [ ]:
import pandas as pd

# Create the main dataframe
main = pd.DataFrame({'Day': ['Day 1']*4 + ['Day 2']*5 + ['Day 3']*6})

# Create the second dataframe
compare = pd.DataFrame({'Number': [5, 4, 6]})

# Create a function to compare the number of rows for each day to the corresponding number in the second dataframe
def compare_rows(day, number_df):
    if day == 'Day 1':
        return min(main[main['Day'] == day].shape[0], number_df.loc[0, 'Number'])
    elif day == 'Day 2':
        return min(main[main['Day'] == day].shape[0], number_df.loc[1, 'Number'])
    elif day == 'Day 3':
        return min(main[main['Day'] == day].shape[0], number_df.loc[2, 'Number'])

# Apply the function to the main dataframe and add the result to a new column named 'result'
main['result'] = main.apply(lambda x: compare_rows(x['Day'], compare), axis=1)

In [ ]:

def random_num_of_customer_orders(seed, loc, scale, size1, size2):
    np.random.default_rng(seed)
    rncos = np.random.normal(loc = loc, scale = scale, size = (size1, size2)).tolist()
    rnco = rncos[0]
    rncoi= ([int(a) for a in rnco])
    df = pd.DataFrame()
    start = 0
    for i in range(1, len(rncoi) + 1):
        end = start + rncoi[i - 1]
        df_temp = pd.DataFrame({'Day': ['Day {}'.format(i)] * rncoi[i - 1]})
        df = pd.concat([df, df_temp], ignore_index=True)
    return df




def random_customers(orders, low, high):
    customers = []
    for a in orders:
        rng = np.random.default_rng()
        m = rng.integers(low, high, size=(a))
        customers.append(m)
    return customers


def customer_data(random_customers):
    customers = []
    for index, item in enumerate(random_customers):
            super_explore['Day'][item] = index
    for a in random_customers:
        q = super_explore.iloc[a]
        customers.append(q)
        df2 = pd.concat(customers)
    return df2