In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import random as random
plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings("ignore")

C:\Users\eincr\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Use functions from .py file
%load_ext autoreload
%autoreload 2
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

import src.functions as funcs

In [3]:
super_explore =  pd.read_csv('superstore.csv', encoding = 'unicode_escape')

In [4]:
n = funcs.random_customer_orders(super_explore, 1, 150000, 17000, 1, 50, 0, 9994)
n

,Day,orders,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,7671,7671,CA-2015-130974,11/27/2015,11/29/2015,Second Class,MA-17560,Matt Abelman,Home Office,...,2149,East,TEC-AC-10003095,Technology,Accessories,Logitech G35 7.1-Channel Surround Sound Headset,259.98,2,0.0,88.3932
1,1,7671,7671,CA-2015-130974,11/27/2015,11/29/2015,Second Class,MA-17560,Matt Abelman,Home Office,...,2149,East,TEC-AC-10003095,Technology,Accessories,Logitech G35 7.1-Channel Surround Sound Headset,259.98,2,0.0,88.3932
2,1,7671,7671,CA-2015-130974,11/27/2015,11/29/2015,Second Class,MA-17560,Matt Abelman,Home Office,...,2149,East,TEC-AC-10003095,Technology,Accessories,Logitech G35 7.1-Channel Surround Sound Headset,259.98,2,0.0,88.3932
3,1,7671,7671,CA-2015-130974,11/27/2015,11/29/2015,Second Class,MA-17560,Matt Abelman,Home Office,...,2149,East,TEC-AC-10003095,Technology,Accessories,Logitech G35 7.1-Channel Surround Sound Headset,259.98,2,0.0,88.3932
4,1,7671,7671,CA-2015-130974,11/27/2015,11/29/2015,Second Class,MA-17560,Matt Abelman,Home Office,...,2149,East,TEC-AC-10003095,Technology,Accessories,Logitech G35 7.1-Channel Surround Sound Headset,259.98,2,0.0,88.3932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7385140,50,7821,7821,CA-2017-152436,12/8/2017,12/10/2017,Second Class,CW-11905,Carl Weiss,Home Office,...,2920,East,OFF-ST-10000036,Office Supplies,Storage,Recycled Data-Pak for Archival Bound Computer ...,592.74,6,0.0,160.0398
7385141,50,7821,7821,CA-2017-152436,12/8/2017,12/10/2017,Second Class,CW-11905,Carl Weiss,Home Office,...,2920,East,OFF-ST-10000036,Office Supplies,Storage,Recycled Data-Pak for Archival Bound Computer ...,592.74,6,0.0,160.0398
7385142,50,7821,7821,CA-2017-152436,12/8/2017,12/10/2017,Second Class,CW-11905,Carl Weiss,Home Office,...,2920,East,OFF-ST-10000036,Office Supplies,Storage,Recycled Data-Pak for Archival Bound Computer ...,592.74,6,0.0,160.0398
7385143,50,7821,7821,CA-2017-152436,12/8/2017,12/10/2017,Second Class,CW-11905,Carl Weiss,Home Office,...,2920,East,OFF-ST-10000036,Office Supplies,Storage,Recycled Data-Pak for Archival Bound Computer ...,592.74,6,0.0,160.0398
7385144,50,7821,7821,CA-2017-152436,12/8/2017,12/10/2017,Second Class,CW-11905,Carl Weiss,Home Office,...,2920,East,OFF-ST-10000036,Office Supplies,Storage,Recycled Data-Pak for Archival Bound Computer ...,592.74,6,0.0,160.0398

In [5]:
n[n["Day"] == 1]['orders'].value_counts()

2069    26
1511    25
2604    24
9933    24
3443    24
        ..
5592     2
111      2
1810     2
6603     2
7003     2
Name: orders, Length: 9992, dtype: int64

In [6]:
n["Day"].value_counts()

30    190960
3     186773
41    178403
33    173196
7     170375
14    169894
34    166651
9     165837
31    161854
37    160761
5     159186
26    158479
22    157936
39    157809
2     157544
29    157077
8     156776
49    155282
21    154716
45    154093
42    153749
24    151638
47    148973
4     148445
10    148289
46    147680
44    147479
40    147210
19    146192
18    146119
35    143849
25    143394
6     141950
15    140929
43    139004
36    138953
20    137800
13    135856
27    135142
23    134239
48    132702
11    131501
17    131239
50    129262
38    129009
32    117588
28    112285
1     111268
12    111110
16    108689
Name: Day, dtype: int64

In [7]:
Central_to_South = funcs.Central_to_South(n)
Central_to_South['Destination'] = "Central_to_South"
Central_to_South['Units'] = len()
Central_to_West = funcs.Central_to_West(n)
Central_to_West['Destination'] = "Central_to_West"
Central_to_East= funcs.Central_to_East(n)
Central_to_East['Destination'] = "Central_to_East"
Central_Outbound = pd.concat([Central_to_South, Central_to_West, Central_to_East], axis=0)

In [8]:
East_to_South = funcs.East_to_South(n)
East_to_South['Destination'] = "East_to_South"
East_to_Central = funcs.East_to_Central(n)
East_to_Central['Destination'] = "East_to_Central"
East_to_West = funcs.East_to_West(n)
East_to_West['Destination'] = "East_to_West"
East_Outbound = pd.concat([East_to_South, East_to_Central, East_to_West], axis=0)

In [9]:
South_to_East = funcs.South_to_East(n)
South_to_East['Destination'] = "South_to_East"
South_to_Central = funcs.South_to_Central(n)
South_to_Central['Destination'] = "South_to_Central"
South_to_West = funcs.South_to_West(n)
South_to_West['Destination'] = "South_to_West"
South_Outbound = pd.concat([South_to_East, South_to_Central, South_to_West], axis=0)

In [10]:
West_to_South = funcs.West_to_South(n)
West_to_South['Destination'] = "West_to_South"
West_to_Central = funcs.West_to_Central(n)
West_to_Central['Destination'] = "West_to_Central"
West_to_East = funcs.West_to_East(n)
West_to_East['Destination'] = "West_to_East"
West_Outbound = pd.concat([West_to_South, West_to_Central, West_to_East], axis=0)

In [11]:
(len(Central_to_South))/ 50

6199.56

In [19]:
df21

30    8062
3     7988
41    7426
33    7338
7     7167
14    7128
34    7116
9     6984
31    6795
29    6780
37    6724
5     6668
49    6666
2     6604
26    6603
8     6569
39    6563
22    6519
45    6405
21    6390
42    6329
44    6289
19    6280
10    6187
4     6186
46    6182
24    6171
18    6113
40    6113
25    6076
47    6074
35    6033
6     5960
36    5885
15    5847
43    5824
13    5790
20    5718
27    5671
48    5590
23    5583
11    5531
50    5514
17    5462
38    5441
32    4979
28    4832
12    4663
16    4600
1     4560
Name: Day, dtype: int64

In [9]:
# Set the mean and standard deviation for the three columns
mean = [8500, 7500, 6750, 8000, 7750, 8750, 6900, 8900, 7250, 8250, 7100, 7800]
std = [1000, 1500, 2000, 1250, 1750, 1100, 1900, 1350, 1800, 1600, 1400, 1150]

# Generate 150 random numbers from a normal distribution for each column
Column1 = np.random.normal(mean[0], std[0], 150)
Column2 = np.random.normal(mean[1], std[1], 150)
Column3 = np.random.normal(mean[2], std[2], 150)
Column4 = np.random.normal(mean[3], std[3], 150)
Column5 = np.random.normal(mean[4], std[4], 150)
Column6 = np.random.normal(mean[5], std[5], 150)
Column7 = np.random.normal(mean[6], std[6], 150)
Column8 = np.random.normal(mean[7], std[7], 150)
Column9 = np.random.normal(mean[8], std[8], 150)
Column10 = np.random.normal(mean[9], std[9], 150)
Column11 = np.random.normal(mean[10], std[10], 150)
Column12 = np.random.normal(mean[11], std[11], 150)

# Create a dataframe from the generated numbers
loads = pd.DataFrame({"C_to_S": Column1,  "C_to_W": Column2, "C_to_E": Column3, 
                   "E_to_S": Column4 , "E_to_C": Column5 , 'E_to_W' : Column6,
                   "S_to_E" : Column7 , "S_to_C": Column8, "S_to_W": Column9, 
                   "W_to_S": Column10, "W_to_C": Column11, "W_to_E": Column12})

loads

,C_to_S,C_to_W,C_to_E,E_to_S,E_to_C,E_to_W,S_to_E,S_to_C,S_to_W,W_to_S,W_to_C,W_to_E
0,7780.987671,8956.082856,8902.038994,7513.666963,9368.733180,8113.270749,9329.127369,10369.250543,8657.994919,8161.448546,4213.920102,8067.969829
1,10780.684365,8088.545146,7065.381926,8219.876007,5586.532683,8565.098154,6564.504454,9227.134974,2736.058703,6423.340780,7255.747247,6359.486280
2,7708.144665,7437.193357,6921.176913,7365.812388,8876.219865,6578.613895,9719.059685,8313.224443,5397.689766,7363.717206,4714.120063,8153.221537
3,10138.373953,9576.874093,7335.230639,7315.473360,10131.916569,8124.338659,8545.484538,10509.933086,9527.583233,8388.334915,7508.209118,7174.847985
4,8184.289163,7994.525185,7201.103373,10338.198685,7402.901722,7445.782567,3086.879490,7293.901449,8457.273374,10975.714567,7603.074304,8870.523610
...,...,...,...,...,...,...,...,...,...,...,...,...
145,9133.912138,6822.735272,7224.497120,6849.264898,8515.253643,7574.401287,6955.427903,9591.821435,3860.408941,5024.713258,6456.054790,6249.042883
146,8277.004704,7616.952537,4131.780248,7565.533594,5921.736241,9170.137455,7624.593930,8666.472559,7713.865651,8285.598508,8406.983384,8808.624068
147,6849.848380,8888.765132,6171.306748,8145.132299,8989.209454,8433.663943,4254.532701,10426.819758,9380.861299,7348.130629,9693.140428,8675.318840
148,8247.938694,7682.717091,9249.540890,8606.364743,9933.079973,8653.444072,7737.124510,8103.647055,7854.699938,8648.047737,6260.148536,8607.741677
149,8709.017319,7307.165367,5177.043361,8985.461564,6211.747156,8413.137734,4136.488197,9324.745130,7591.984046,5849.058226,9584.766601,7744.861933

In [30]:
from pandasql import sqldf

# Create the first dataframe
df1 = pd.DataFrame({'high': [20], 'middle': [5], 'low': [5]})

# Create the second dataframe
df2 = pd.DataFrame({'sent_units': [30]})

# Use pandasql to join the two dataframes
query = '''
SELECT
    df1.high,
    df1.middle,
    df1.low,
    df2.sent_units,
    CASE
        WHEN df1.high > df2.sent_units THEN df1.high - df2.sent_units
        WHEN df1.high + df1.middle > df2.sent_units THEN  df1.high + df1.middle - df2.sent_units
        ELSE df1.high + df1.middle + df1.low - df2.sent_units
    END AS remainder
FROM
    df1
JOIN
    df2
'''

df_result = sqldf(query)

#create a new column indicating the remainder is high, middle or low 
df_result['remainder_type'] = np.where(df1.high > df2.sent_units, 'high',
                                      np.where(df1.high + df1.middle > df2.sent_units, 'middle',
                                               np.where(df1.high + df1.middle + df1.low - df2.sent_units, 'low', 'other')))

print(df_result)

   high  middle  low  sent_units  remainder remainder_type
0    20       5    5          30          0          other

In [12]:
import pandas as pd

# Create the main dataframe
main = pd.DataFrame({'Day': ['Day 1']*4 + ['Day 2']*5 + ['Day 3']*6})

# Create the second dataframe
compare = pd.DataFrame({'Number': [5, 4, 6]})

# Create a function to compare the number of rows for each day to the corresponding number in the second dataframe
def compare_rows(day, number_df):
    if day == 'Day 1':
        return min(main[main['Day'] == day].shape[0], number_df.loc[0, 'Number'])
    elif day == 'Day 2':
        return min(main[main['Day'] == day].shape[0], number_df.loc[1, 'Number'])
    elif day == 'Day 3':
        return min(main[main['Day'] == day].shape[0], number_df.loc[2, 'Number'])

# Apply the function to the main dataframe and add the result to a new column named 'result'
main['result'] = main.apply(lambda x: compare_rows(x['Day'], compare), axis=1)

In [ ]:

def random_num_of_customer_orders(seed, loc, scale, size1, size2):
    np.random.default_rng(seed)
    rncos = np.random.normal(loc = loc, scale = scale, size = (size1, size2)).tolist()
    rnco = rncos[0]
    rncoi= ([int(a) for a in rnco])
    df = pd.DataFrame()
    start = 0
    for i in range(1, len(rncoi) + 1):
        end = start + rncoi[i - 1]
        df_temp = pd.DataFrame({'Day': ['Day {}'.format(i)] * rncoi[i - 1]})
        df = pd.concat([df, df_temp], ignore_index=True)
    return df




def random_customers(orders, low, high):
    customers = []
    for a in orders:
        rng = np.random.default_rng()
        m = rng.integers(low, high, size=(a))
        customers.append(m)
    return customers


def customer_data(random_customers):
    customers = []
    for index, item in enumerate(random_customers):
            super_explore['Day'][item] = index
    for a in random_customers:
        q = super_explore.iloc[a]
        customers.append(q)
        df2 = pd.concat(customers)
    return df2