In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import random as random
plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings("ignore")

C:\Users\eincr\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Use functions from .py file
%load_ext autoreload
%autoreload 2
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

import src.functions as funcs

In [3]:
super_explore =  pd.read_csv('superstore.csv', encoding = 'unicode_escape')

In [4]:
super_explore.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [5]:
abr_super = super_explore[['Row ID', "Customer Name", "Region", "Category", "Sub-Category", "Product ID",  "Product Name", "Ship Mode"]]

In [6]:
abr_super

,Row ID,Customer Name,Region,Category,Sub-Category,Product ID,Product Name,Ship Mode
0,1,Claire Gute,South,Furniture,Bookcases,FUR-BO-10001798,Bush Somerset Collection Bookcase,Second Class
1,2,Claire Gute,South,Furniture,Chairs,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Second Class
2,3,Darrin Van Huff,West,Office Supplies,Labels,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Second Class
3,4,Sean O'Donnell,South,Furniture,Tables,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,Standard Class
4,5,Sean O'Donnell,South,Office Supplies,Storage,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,Standard Class
...,...,...,...,...,...,...,...,...
9989,9990,Tom Boeckenhauer,South,Furniture,Furnishings,FUR-FU-10001889,Ultra Door Pull Handle,Second Class
9990,9991,Dave Brooks,West,Furniture,Furnishings,FUR-FU-10000747,Tenex B1-RE Series Chair Mats for Low Pile Car...,Standard Class
9991,9992,Dave Brooks,West,Technology,Phones,TEC-PH-10003645,Aastra 57i VoIP phone,Standard Class
9992,9993,Dave Brooks,West,Office Supplies,Paper,OFF-PA-10004041,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",Standard Class
9993,9994,Chris Cortes,West,Office Supplies,Appliances,OFF-AP-10002684,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",Second Class

In [7]:
n = funcs.random_customer_orders(abr_super, 1, 150000, 17000, 1, 50, 0, 9994)
n

,Day,orders,Row ID,Customer Name,Region,Category,Sub-Category,Product ID,Product Name,Ship Mode
0,1,8,8,Brosina Hoffman,West,Technology,Phones,TEC-PH-10002275,Mitel 5320 IP Phone VoIP phone,Standard Class
1,1,8,8,Brosina Hoffman,West,Technology,Phones,TEC-PH-10002275,Mitel 5320 IP Phone VoIP phone,Standard Class
2,1,8,8,Brosina Hoffman,West,Technology,Phones,TEC-PH-10002275,Mitel 5320 IP Phone VoIP phone,Standard Class
3,1,8,8,Brosina Hoffman,West,Technology,Phones,TEC-PH-10002275,Mitel 5320 IP Phone VoIP phone,Standard Class
4,1,8,8,Brosina Hoffman,West,Technology,Phones,TEC-PH-10002275,Mitel 5320 IP Phone VoIP phone,Standard Class
...,...,...,...,...,...,...,...,...,...,...
7485674,50,1773,1773,Greg Guthrie,Central,Technology,Accessories,TEC-AC-10001266,Memorex Micro Travel Drive 8 GB,Second Class
7485675,50,1773,1773,Greg Guthrie,Central,Technology,Accessories,TEC-AC-10001266,Memorex Micro Travel Drive 8 GB,Second Class
7485676,50,1773,1773,Greg Guthrie,Central,Technology,Accessories,TEC-AC-10001266,Memorex Micro Travel Drive 8 GB,Second Class
7485677,50,1773,1773,Greg Guthrie,Central,Technology,Accessories,TEC-AC-10001266,Memorex Micro Travel Drive 8 GB,Second Class
7485678,50,1773,1773,Greg Guthrie,Central,Technology,Accessories,TEC-AC-10001266,Memorex Micro Travel Drive 8 GB,Second Class

In [8]:
n[n["Day"] == 1]['orders'].value_counts()

8122    28
1817    28
3412    27
4418    26
3847    26
        ..
4016     3
8662     3
5995     3
5265     3
6145     2
Name: orders, Length: 9993, dtype: int64

In [9]:
n["Day"].value_counts()

4     191473
36    177010
3     176217
20    175729
14    172562
48    170496
21    167535
35    166504
42    165239
28    164200
9     163104
7     161571
12    161564
16    159592
50    157690
5     156293
26    154453
2     154338
25    153128
37    152555
38    151906
22    151481
33    151309
40    150532
30    149008
31    148088
49    147762
23    147313
8     146564
27    146005
19    145452
13    144409
18    143422
39    143017
24    142556
41    142292
45    142213
43    139735
6     139713
11    139568
34    138086
46    136934
1     135689
32    134428
44    133341
47    127899
10    126174
17    119402
15    116760
29    103368
Name: Day, dtype: int64

In [10]:
Central_to_South = funcs.Central_to_South(n)
Central_to_South['Destination'] = "Central_to_South"
Central_to_West = funcs.Central_to_West(n)
Central_to_West['Destination'] = "Central_to_West"
Central_to_East= funcs.Central_to_East(n)
Central_to_East['Destination'] = "Central_to_East"
Central_Outbound = pd.concat([Central_to_South, Central_to_West, Central_to_East], axis=0)

In [11]:
East_to_South = funcs.East_to_South(n)
East_to_South['Destination'] = "East_to_South"
East_to_Central = funcs.East_to_Central(n)
East_to_Central['Destination'] = "East_to_Central"
East_to_West = funcs.East_to_West(n)
East_to_West['Destination'] = "East_to_West"
East_Outbound = pd.concat([East_to_South, East_to_Central, East_to_West], axis=0)

In [12]:
South_to_East = funcs.South_to_East(n)
South_to_East['Destination'] = "South_to_East"
South_to_Central = funcs.South_to_Central(n)
South_to_Central['Destination'] = "South_to_Central"
South_to_West = funcs.South_to_West(n)
South_to_West['Destination'] = "South_to_West"
South_Outbound = pd.concat([South_to_East, South_to_Central, South_to_West], axis=0)

In [13]:
West_to_South = funcs.West_to_South(n)
West_to_South['Destination'] = "West_to_South"
West_to_Central = funcs.West_to_Central(n)
West_to_Central['Destination'] = "West_to_Central"
West_to_East = funcs.West_to_East(n)
West_to_East['Destination'] = "West_to_East"
West_Outbound = pd.concat([West_to_South, West_to_Central, West_to_East], axis=0)

In [469]:
# Set the mean and standard deviation for the three columns
mean = [8500, 7500, 6750, 8000, 7750, 8750, 6900, 8900, 7250, 8250, 7100, 7800]
std = [1000, 1500, 2000, 1250, 1750, 1100, 1900, 1350, 1800, 1600, 1400, 1150]

# Generate 150 random numbers from a normal distribution for each column
Column1 = np.random.normal(mean[0], std[0], 150)
Column2 = np.random.normal(mean[1], std[1], 150)
Column3 = np.random.normal(mean[2], std[2], 150)
Column4 = np.random.normal(mean[3], std[3], 150)
Column5 = np.random.normal(mean[4], std[4], 150)
Column6 = np.random.normal(mean[5], std[5], 150)
Column7 = np.random.normal(mean[6], std[6], 150)
Column8 = np.random.normal(mean[7], std[7], 150)
Column9 = np.random.normal(mean[8], std[8], 150)
Column10 = np.random.normal(mean[9], std[9], 150)
Column11 = np.random.normal(mean[10], std[10], 150)
Column12 = np.random.normal(mean[11], std[11], 150)

# Create a dataframe from the generated numbers
loads = pd.DataFrame({"C_to_S": Column1,  "C_to_W": Column2, "C_to_E": Column3, 
                   "E_to_S": Column4 , "E_to_C": Column5 , 'E_to_W' : Column6,
                   "S_to_E" : Column7 , "S_to_C": Column8, "S_to_W": Column9, 
                   "W_to_S": Column10, "W_to_C": Column11, "W_to_E": Column12})

loads

,C_to_S,C_to_W,C_to_E,E_to_S,E_to_C,E_to_W,S_to_E,S_to_C,S_to_W,W_to_S,W_to_C,W_to_E
0,8451.814496,8594.751725,5924.665068,6905.614934,5351.167673,9311.388023,8808.487096,9850.114012,8094.652052,9209.069646,8174.881808,8959.937741
1,8657.732513,6848.859401,7252.660174,7863.117225,5597.358657,10083.221631,5536.324119,9780.299977,8678.522214,9285.596270,5889.698577,7595.603507
2,9292.289472,5258.168111,4702.524844,9304.269235,8292.076884,9568.440762,8092.229253,9068.859346,4018.205309,8519.251064,7112.726621,8316.425463
3,8999.064267,7101.026595,6425.877118,7331.064554,7107.715105,7173.463201,6231.376539,8550.804596,9739.401552,7948.427669,9251.428128,8106.592483
4,7734.865004,7570.858913,5628.898114,8013.787053,7267.609972,7368.769203,6997.036943,7935.047526,10040.280301,9035.854442,5655.634906,10965.968151
...,...,...,...,...,...,...,...,...,...,...,...,...
145,8318.096644,9861.735195,7409.910823,10175.188928,6461.237015,7916.880988,8726.863292,6623.588118,3945.988518,6863.725273,7338.592439,5442.870893
146,7965.280971,6579.206621,8576.432173,7709.877570,13411.989155,9159.655657,4260.164238,7321.237391,8791.151960,8899.291870,8237.064087,7887.361280
147,9369.836292,9417.365245,5909.141859,7707.189263,5367.944729,10164.222951,6143.829506,9261.489187,7666.130918,10529.582870,9952.396756,7750.715030
148,9367.263268,8560.690893,8581.272333,8342.348828,7796.112084,9655.125587,7377.433505,8065.636331,6216.400067,10208.580854,5153.086304,7161.514130
149,8018.945015,7418.962687,6650.713986,5199.836848,5426.563250,8666.118129,5780.409241,8584.684383,5923.785306,8731.331550,8657.050528,7486.311095

In [15]:
def high_middle_low(df):
    days = df['Day'].unique()
    high_list = []
    middle_list = []
    low_list = []
    for day in days:
        high = len(df[(df["Ship Mode"] == "First Class") & (df["Day"] == day)]) +\
               len(df[(df["Ship Mode"] == "Same Day") & (df["Day"] == day)])
        middle = len(df[(df["Ship Mode"] == "Second Class") & (df["Day"] == day)])
        low = len(df[(df["Ship Mode"] == "Standard Class") & (df["Day"] == day)])
        high_list.append(high)
        middle_list.append(middle)
        low_list.append(low)
    return pd.DataFrame({"Day": days, 'high': high_list, 'middle': middle_list, 'low': low_list})

In [44]:
def combined_df(initial_df, sent_units):
    initial_df['sent_units'] = sent_units
    return initial_df

In [17]:
def remainder(combined):
    from pandasql import sqldf
    # Use pandasql to join the two dataframes
    query = '''
    SELECT
        combined.high,
        combined.middle,
        combined.low,
        combined.sent_units,
        CASE
            WHEN combined.high > combined.sent_units THEN combined.high - combined.sent_units
            WHEN combined.high + combined.middle > combined.sent_units THEN  combined.high + combined.middle - combined.sent_units
            ELSE combined.high + combined.middle + combined.low - combined.sent_units
        END AS remainder
    FROM
        combined
    '''
    remainder_df = sqldf(query)

    #create a new column indicating the remainder is high, middle or low 
    remainder_df['remainder_type'] = np.where(combined.high > combined.sent_units, 'high',
                                      np.where(combined.high + combined.middle > combined.sent_units, 'middle',
                                               np.where(combined.high + combined.middle + combined.low - combined.sent_units > 0, 'low', 'other')))

    return remainder_df

In [55]:
def create_new_df(remainder_df):
    from pandasql import sqldf
    pysqldf = lambda q: sqldf(q, globals())
    
    query = """
    SELECT 
        CASE
            WHEN remainder_df.remainder_type == 'high' THEN remainder_df.remainder + remainder_df.middle
            WHEN remainder_df.remainder_type == 'middle' THEN remainder_df.remainder
            ELSE 0
        END AS high,
        CASE
            WHEN remainder_df.remainder_type == 'high' THEN remainder_df.low
            WHEN remainder_df.remainder_type == 'middle' THEN remainder_df.low
            WHEN remainder_df.remainder_type == 'low' THEN remainder_df.remainder
            ELSE 0
            END AS middle,
        CASE
            WHEN remainder_df.remainder_type == 'low' THEN 0
            ELSE 0
        END AS low
    FROM 
        remainder_df
    """
    new_df = pysqldf(query)
    return new_df

In [391]:
initial_df = funcs.high_middle_low(Central_to_West)
initial_df

    Day  high  middle   low
0     1  2467    2529  6896
1     2  2826    2921  7643
2     3  3196    3265  9072
3     4  3510    3557  9592
4     5  2874    2865  7856
5     6  2552    2588  6985
6     7  2914    3036  8138
7     8  2743    2694  7381
8     9  3098    2996  8214
9    10  2310    2394  6309
10   11  2610    2530  7063
11   12  2988    2996  8139
12   13  2760    2700  7302
13   14  3106    3241  8715
14   15  2124    2120  6000
15   16  2851    2973  8161
16   17  2162    2302  5875
17   18  2656    2585  7360
18   19  2638    2785  7402
19   20  3250    3304  8798
20   21  3054    3074  8414
21   22  2704    2807  7680
22   23  2619    2784  7459
23   24  2657    2716  6965
24   25  2844    2849  7792
25   26  2820    2854  7731
26   27  2658    2800  7405
27   28  3035    3084  8243
28   29  1904    1952  5305
29   30  2725    2743  7601
30   31  2754    2747  7522
31   32  2506    2446  6753
32   33  2795    2773  7552
33   34  2545    2455  6867
34   35  3123    3065  8244
35   36  3183    3264  8936
36   37  2746    2861  7700
37   38  2789    2882  7596
38   39  2598    2636  7178
39   40  2751    2878  7447
40   41  2557    2669  7167
41   42  3068    3029  8141
42   43  2545    2688  7083
43   44  2521    2436  6656
44   45  2574    2643  7120
45   46  2392    2611  6870
46   47  2333    2361  6634
47   48  3170    3200  8482
48   49  2778    2696  7458
49   50  2942    2883  8016

In [325]:
 sent_units = loads['C_to_W']
sent_units

0      7542.712189
1      9912.692331
2      5084.144499
3      9505.419906
4      5702.952941
          ...
145    6224.048791
146    8084.807304
147    7371.478841
148    6715.745309
149    7197.623135
Name: C_to_W, Length: 150, dtype: float64

In [218]:
sent_units = loads[['C_to_W']].iloc[1]
sent_units
initial_df["sent_units"]= sent_units

In [491]:
def lets_try(df, dest, num):
    sent_units = loads[[dest]].iloc[num][0]
    df["sent_units"] = sent_units
    combined = df
    remainder_df = remainder(combined)
    remainder_type_df = create_new_df(remainder_df).iloc[num]
    df = remainder_type_df + initial_df.iloc[num + 1]
    df = df.append(initial_df[["Day"]].iloc[num + 1])
    df = df.dropna()
    return pd.DataFrame(df)

In [493]:
def lets_try(df, dest, num):
    df["sent_units"] = loads[[dest]].iloc[num][0]
    combined = df
    remainder_df = remainder(combined)
    remainder_type_df = create_new_df(remainder_df).iloc[num]
    df2 = remainder_type_df + initial_df.iloc[num + 1]
    df2 = df2.append(initial_df[["Day"]].iloc[num + 1])
    df2 = df2.dropna()
    return pd.DataFrame(df2).transpose()

In [494]:
df3 = lets_try(initial_df, "C_to_W", 0)
df3

     high     low       middle  Day
0  2826.0  7643.0  8066.710536  2.0

In [497]:
def lets_try2(df, dest, num):
    df["sent_units"] =  loads[[dest]].iloc[num][0]
    combined = df
    remainder_df = remainder(combined)
    remainder_type_df = create_new_df(remainder_df).iloc[num]
    df2 = remainder_type_df + initial_df.iloc[num + 1]
    df2 = df2.append(initial_df[["Day"]].iloc[num + 1])
    df2 = df2.dropna()
    return pd.DataFrame(df2).transpose()

In [498]:
df4 = lets_try2(df3, "C_to_W", 1)
df4

     high     low        middle  Day
0  3196.0  9072.0  10447.726475  3.0

In [500]:
df5 = lets_try2(df4, "C_to_W", 2)
df5

     high     low       middle  Day
0  3510.0  9592.0  9045.056237  4.0

In [502]:
df6 = lets_try2(df5, "C_to_W", 3)
df6

          high     low   middle  Day
0  3052.164085  7856.0  12457.0  5.0

In [ ]:
if len(remainder_type_df) > len(initial_df):
    initial_df = initial_df.reindex(range(len(remainder_type_df)), method='ffill')
else:
    remainder_type_df = remainder_type_df.reindex(range(len(initial_df)), method='ffill')

In [ ]:
for i in range(len(remainder_type_df)):
    remainder_type_df.iloc[i] = remainder_type_df.iloc[i].add(initial_df.iloc[i+1])

In [ ]:
def lets_try2(initial_df, remainder_type_df):
    initial_df = initial_df + remainder_type_df
    return initial_df
initial_df

In [ ]:
loads['dest1a'] = loads['C_to_W']

In [ ]:
sent_units = loads.loc[row, 'dest1a']

In [ ]:
sent_units

In [ ]:
combined

In [ ]:
def final_result(initial_df, loads):
    # Keep track of used rows in the loads dataframe
    used_rows = []

    for i in range(len(initial_df)):
        # Get the next unused row from the loads dataframe
        row = next((j for j in range(len(loads)) if j not in used_rows))
        for i in range(len(initial_df)):
            sent_units = loads.loc[row, 'dest1a']
            used_rows.append(row)
            # Combine the initial_df and loads dataframes
            combined = combined_df(initial_df, sent_units)
            # Calculate the remainder
            remainder_df = remainder(combined)
            remainder_type_df = create_new_df(remainder_df)
            used_rows.append(row)
           # Update the corresponding row in the initial_df dataframe
            initial_df.iloc[i] = initial_df.iloc[i].add(remainder_type_df.iloc[i -1])
            # Mark the used row
            used_rows.append(row)
        else:
            # If all rows in the loads dataframe have been used, break the loop
            break       
    return initial_df

In [ ]:
def combined_df(df1, sent_units):
    df1['sent_units'] = sent_units
    return df1

In [ ]:
final_result(initial_df, loads)

In [ ]:
c = funcs.combined_df(Central_to_West, loads, "C_to_W")

In [ ]:
initial_df = funcs.remainder(c)
initial_df

In [ ]:
def create_new_df(remainder_df):
    from pandasql import sqldf
    pysqldf = lambda q: sqldf(q, globals())
    
    query = """
    SELECT 
        CASE
            WHEN remainder_df.remainder_type == 'high' THEN remainder_df.remainder + remainder_df.middle
            WHEN remainder_df.remainder_type == 'middle' THEN remainder_df.remainder
            ELSE 0
        END AS high,
        CASE
            WHEN remainder_df.remainder_type == 'high' THEN remainder_df.low
            WHEN remainder_df.remainder_type == 'middle' THEN remainder_df.low
            WHEN remainder_df.remainder_type == 'low' THEN remainder_df.remainder
            ELSE 0
            END AS middle,
        CASE
            WHEN remainder_df.remainder_type == 'low' THEN 0
            ELSE 0
        END AS low
    FROM 
        remainder_df
    """
    new_df = pysqldf(query)
    return new_df

In [ ]:
new_df = create_new_df(initial_df)

In [ ]:
new_df

In [ ]:
df = df2.iloc[0] + df.iloc[1]
df['sent_units'] = loads["C_to_W"].iloc[1]

In [ ]:
df = pd.DataFrame(df)
df = df.transpose()

In [ ]:
df = funcs.remainder(df)
df

In [ ]:
df3 = create_new_df(df)
df3

In [ ]:
df = df3.iloc[0] + df.iloc[1]
df['sent_units'] = loads["C_to_W"].iloc[2]

In [ ]:
def upgrading(df2):
    from pandasql import sqldf
    pysqldf = lambda q: sqldf(q, globals())
    
    query = """
    SELECT 
        CASE
            WHEN df2.high > 0 THEN df2.high + df2.middle
            WHEN df2.middle > 0 THEN df2.middle
            ELSE 0
        END AS high,
        CASE
            WHEN df2.high > 0 THEN df2.low
            WHEN df2.middle > 0 THEN df2.low
            WHEN df2.low > 0 THEN df2.low
            ELSE 0
        END AS middle,
        CASE
            WHEN df2.low > 0 THEN 0
        END AS low
    FROM 
        df2
    """
    df3 = pysqldf(query)
    return df3

In [ ]:
df2 = upgrading(df2)
df2

In [ ]:
def combined_df(df1, sent_units):
    df1['sent_units'] = sent_units
    return df1

In [ ]:
combined = combined_df(initial_df, sent_units)

In [ ]:
remainder_df = remainder(combined)
remainder_df

In [ ]:
remainder_type_df = create_new_df(remainder_df)
remainder_type_df

In [ ]:
 initial_df.iloc[i] = initial_df.iloc[i].add(remainder_type_df.iloc[0], fill_value=0)

In [ ]:
initial_df.iloc[1] = initial_df.iloc[1].add(remainder_type_df.iloc[0])

In [ ]:
initial_df.iloc[1]

In [ ]:
loads['dest1a'] = loads['C_to_W']

In [ ]:
loads['dest1a']

In [ ]:
def final_result(initial_df, loads):
    # Keep track of used rows in the loads dataframe
    used_rows = []

    for i in range(len(initial_df)):
        # Get the next unused row from the loads dataframe
        row = next((j for j in range(len(loads)) if j not in used_rows))
        for i in range(len(initial_df)):
            sent_units = loads.loc[row, 'dest1a']
            # Combine the initial_df and loads dataframes
            combined = combined_df(initial_df, sent_units)
            # Calculate the remainder
            remainder_df = funcs.remainder(combined)
            remainder_type_df = funcs.create_new_df(remainder_df)
            used_rows.append(row)
           # Update the corresponding row in the initial_df dataframe
            initial_df.iloc[i] = initial_df.iloc[i].add(remainder_type_df.iloc[i-1])
            # Mark the used row
            used_rows.append(row)
        else:
            # If all rows in the loads dataframe have been used, break the loop
            break       
    return initial_df

In [ ]:
def final_result(initial_df, loads):
    # Keep track of used rows in the loads dataframe
    used_rows = []

    for i in range(len(initial_df)):
        # Get the next unused row from the loads dataframe
        row = next((j for j in range(len(loads)) if j not in used_rows), None)
        if row is not None:
            sent_units = loads.loc[row, 'dest1a']
            # Combine the initial_df and loads dataframes
            combined = combined_df(initial_df, sent_units)
            # Calculate the remainder
            remainder_df = remainder(combined)
            if remainder_df.iloc[i]['remainder_type'] == 'high':
                # subtract the sent units
                sent_units = loads.loc[row, 'dest1a']
                used_rows.append(row)
                combined = combined_df(initial_df, sent_units)
                remainder_df = remainder(combined)
            else:
                # Determine the remainder type
                remainder_type_df = create_new_df(remainder_df)
                # Update the corresponding row in the initial_df dataframe
                initial_df.iloc[i] = initial_df.iloc[i].add(remainder_type_df.iloc[i])
            # Mark the used row
            used_rows.append(row)
        else:
            # If all rows in the loads dataframe have been used, break the loop
            break
    # Add the sent units to the result
    initial_df['sent'] = loads['dest1a']
    return initial_df

In [ ]:
def final_result(initial_df, loads):
    # Keep track of used rows in the loads dataframe
    used_rows = []
    for i in range(len(initial_df)):
        # Get the next unused row from the loads dataframe
        row = next((j for j in range(len(loads)) if j not in used_rows), None)
        if row is not None:
            sent_units = loads.loc[row, 'dest1a']
            # Combine the initial_df and loads dataframes
            combined = combined_df(initial_df, sent_units)
            # Calculate the remainder
            remainder_df = remainder(combined)
            if remainder_df.iloc[i]['remainder_type'] == 'high':
                # subtract the sent units
                initial_df.loc[i, 'high'] -= sent_units
            else:
                # Determine the remainder type
                remainder_type_df = create_new_df(remainder_df)
                # Update the corresponding row in the initial_df dataframe
                initial_df.iloc[i].add(remainder_type_df.iloc[i-1])
            # Mark the used row
            used_rows.append(row)
        else:
            # If all rows in the loads dataframe have been used, break the loop
            break
    # Add the sent units to the result
    initial_df['sent'] = loads['dest1a']
    return initial_df

In [ ]:
def final_result(initial_df, loads):
    # Keep track of used rows in the loads dataframe
    used_rows = []
    for i in range(len(initial_df)):
        # Get the next unused row from the loads dataframe
        row = next((j for j in range(len(loads)) if j not in used_rows), None)
        if row is not None:
            sent_units = loads.loc[row, 'dest1a']
            # Combine the initial_df and loads dataframes
            combined = combined_df(initial_df, sent_units)
            # Calculate the remainder
            remainder_df = remainder(combined)
            if remainder_df.iloc[i]['remainder_type'] == 'high':
                remainder_df.iloc[i] = remainder_df.iloc[i] - create_new_df(remainder_df)###needs work
                used_rows.append(row)
            else:
                # Determine the remainder type
                remainder_type_df = create_new_df(remainder_df)
                # Update the corresponding row in the initial_df dataframe
                initial_df.iloc[i] = initial_df.iloc[i].add(remainder_type_df.iloc[i-1])
            # Mark the used row
            used_rows.append(row)
        else:
            # If all rows in the loads dataframe have been used, break the loop
            break
    # Add the sent units to the result
    initial_df['sent'] = loads['dest1a']
    return initial_df

In [ ]:
used_rows = []
row = next((j for j in range(len(loads)) if j not in used_rows), None)
sent_units = loads.loc[row, 'dest1a']
combined = combined_df(initial_df, sent_units)
remainder_df = funcs.remainder(combined)

In [ ]:
 initial_df.iloc[i].add(remainder_type_df.iloc[i])

In [ ]:
def create_new_df(df):
    from pandasql import sqldf
    pysqldf = lambda q: sqldf(q, globals())
    
    query = """
    SELECT 
        CASE
            WHEN remainder_df.remainder_type == 'high' THEN remainder_df.remainder
            ELSE 0
        END AS high,
        CASE
            WHEN remainder_df.remainder_type == 'high' THEN remainder_df.middle
            WHEN remainder_df.remainder_type == 'middle' THEN remainder_df.remainder
            ELSE 0
            END AS middle,
        CASE
            WHEN remainder_df.remainder_type == 'high' THEN remainder_df.low
            WHEN remainder_df.remainder_type == 'middle' THEN remainder_df.low
            WHEN remainder_df.remainder_type == 'low' THEN remainder_df.remainder
            ELSE 0
        END AS low
    FROM 
        remainder_df
    """
    df3 = pysqldf(query)
    return df3

In [ ]:
final_result(initial_df, loads)

In [ ]:
def final_result(initial_df, loads):
    # Keep track of used rows in the loads dataframe
    used_rows = []

    for i in range(len(initial_df)):
        # Get the next unused row from the loads dataframe
        row = next((j for j in range(len(loads)) if j not in used_rows))
        for i in range(len(initial_df)):
            sent_units = loads.loc[row, 'dest1a']
            # Combine the initial_df and loads dataframes
            combined = combined_df(initial_df, sent_units)
            # Calculate the remainder
            remainder_df = remainder(combined)
            if remainder_df.iloc[i]['remainder_type'] == 'high':
                sent_units = loads.loc[row, 'dest1a']
                used_rows.append(row)
                combined = combined_df(initial_df, sent_units)
                remainder_df = remainder(combined)
            else:
                # Determine the remainder type
                remainder_type_df = create_new_df(remainder_df)
                used_rows.append(row)
                if i+1 < len(initial_df):
                    initial_df.iloc[i+1] = initial_df.iloc[i+1].add(remainder_type_df.iloc[i])
                else:
                    break
        else:
            # If all rows in the loads dataframe have been used, break the loop
            break
    return initial_df

In [ ]:
lets_see_just_how_good_chat_gpt_is(initial_df, loads)

In [ ]:
  # Upgrade the remainder
            upgraded_df = upgrading(remainder_type_df)

In [ ]:
df = df2.iloc[0] + df.iloc[1]
df['sent_units'] = loads["C_to_W"].iloc[1]

In [ ]:
df = pd.DataFrame(df)
df = df.transpose()

In [ ]:
df = funcs.remainder(df)
df

In [ ]:
def create_new_df1(df):
    from pandasql import sqldf
    pysqldf = lambda q: sqldf(q, globals())
    
    query = """
    SELECT 
        CASE
            WHEN df.remainder_type == high THEN df.remainder
            ELSE 0
        END AS high,
        CASE
            WHEN df.remainder_type == high THEN df.middle
            WHEN df.remainder_type == middle THEN df.remainder + z
            ELSE df.middle
        END AS middle,
        CASE
            WHEN df.remainder_type == low THEN df.remainder + df.low
            ELSE df.low
        END AS low
    FROM 
        df
    """
    df3 = pysqldf(query)
    return df3

In [ ]:
create_new_df1(df)

In [ ]:
a

In [ ]:
df3 = funcs.new_remainder_type(a)
df3

In [ ]:
result_df = pd.concat([ee, dd], axis=0)

In [ ]:
result_df

In [ ]:
def high_middle_low2(df, Day):
    ee = funcs.high_middle_low(df, Day-1)
    dd = funcs.high_middle_low(df, Day)
    result_df = pd.concat([ee, dd], axis=0)
    return result_df

In [ ]:
high_middle_low2(Central_to_West, 2)

In [ ]:
def high_middle_low3(df, Day):

In [ ]:
high_middle_low3(Central_to_West, 2)

In [ ]:
funcs.high_middle_low(Central_to_West, 1)

In [ ]:
funcs.high_middle_low(Central_to_West, Central_to_West["Day"]<= 5)

In [ ]:
df = funcs.combined_df(Central_to_West, 2, loads, "C_to_W")
df

In [ ]:
df2 = funcs.remainder(df)
df2

In [ ]:
df1 = funcs.new_remainder_type(df2)
df1

In [ ]:
def create_new_df(df1, df2):
    from pandasql import sqldf
    pysqldf = lambda q: sqldf(q, globals())
    query = """
    SELECT 
        CASE
            WHEN df1.new_high > 0 THEN df1.new_high + df2.high
            ELSE df2.high
        END AS high,
        CASE
            WHEN df1.new_high > 0 THEN df1.middleqqq + df2.middle
            WHEN df1.new_middle > 0 THEN df1.new_middle + df2.middle
            ELSE df2.middle
        END AS middle,
        CASE
            WHEN df1.new_high > 0 THEN df1.lowqqq + df2.low
            WHEN df1.new_middle > 0 THEN df1.lowqqq + df2.low
            WHEN df1.new_low > 0 THEN df1.new_low + df2.low
            ELSE df2.low
        END AS low
    FROM 
        df1
    JOIN 
        df2
    """
    df3 = pysqldf(query)
    return df3

In [ ]:
create_new_df(df1, df2)

In [ ]:
Central_to_West['Day'].max()

In [ ]:
Central_to_West[Central_to_West['Day'] == 1]

In [ ]:
ccc = Central_to_West[Central_to_West['Day'] < 3]

In [ ]:
ccc

In [ ]:
Day = Central_to_West['Day'].unique()

In [ ]:
Day

In [ ]:
for Day in Central_to_West['Day'].unique():
        day_df = Central_to_West[Central_to_West['Day'] == Day]

In [ ]:
day_df

In [ ]:
Day = df['Day'].unique()
funcs.high_middle_low(df, Day)

In [ ]:
def multple_days(df):
    results = funcs.high_middle_low(df, df['Day'].unique())
    return results

In [ ]:
def multple_days(df):
    result_df = pd.DataFrame()
    for Day in df['Day'].unique():
        day_df = df[df['Day'] == Day]
        results = funcs.high_middle_low(df, Day)
        result_df = pd.concat([pd.DataFrame(results)], axis=1)
        return result_df

In [ ]:
def multple_days2(df):
    result_df = pd.DataFrame()
    for Day in df['Day'].unique():
        day_df = df[df['Day'] == Day]
        results = []
        results.append(funcs.high_middle_low(df, day_df)
        result_df = pd.concat([result_df, pd.DataFrame(results)], axis=1)
    return result_df

In [ ]:
def process_days(df, functions):
    result_df = pd.DataFrame()
    for day in df['Day'].unique():
        day_df = df[df['Day'] == Day]
        results = []
        for func in functions:
            results.append(func(day_df))
        result_df = pd.concat([result_df, pd.DataFrame(results)], axis=1)
    return result_df

In [ ]:
multple_days(Central_to_West)

In [ ]:
funcs.high_middle_low(Central_to_West, 1)

In [ ]:
def high_middle_low(df, day):
    high = len(df[(df["Ship Mode"] == "First Class") & (df["Day"] == day)]) +\
           len(df[(df["Ship Mode"] == "Same Day") & (df["Day"] == day)])
    middle = len(df[(df["Ship Mode"] == "Second Class") & (df["Day"] == day)])
    low = len(df[(df["Ship Mode"] == "Standard Class") & (df["Day"] == day)])
    return pd.DataFrame({'high': [high], 'middle': [middle], 'low': [low]})

In [ ]:
def combined_df(dest1, day, dest1a):
    df1 = high_middle_low(dest1, day)
    df1['sent_units'] = loads[dest1a][day -1]
    return df1

In [ ]:
df = combined_df(Central_to_East, 1, "C_to_E")

In [ ]:
df

In [ ]:
def remainder(df):
    from pandasql import sqldf
    # Use pandasql to join the two dataframes
    query = '''
    SELECT
        df.high,
        df.middle,
        df.low,
        df.sent_units,
        CASE
            WHEN df.high > df.sent_units THEN df.high - df.sent_units
            WHEN df.high + df.middle > df.sent_units THEN  df.high + df.middle - df.sent_units
            ELSE df.high + df.middle + df.low - df.sent_units
        END AS remainder
    FROM
        df
    '''
    df_result = sqldf(query)

    #create a new column indicating the remainder is high, middle or low 
    df_result['remainder_type'] = np.where(df.high > df.sent_units, 'high',
                                      np.where(df.high + df.middle > df.sent_units, 'middle',
                                               np.where(df.high + df.middle + df.low - df.sent_units > 0, 'low', 'other')))

    return df_result

In [ ]:
df2 = remainder(df)
df2

In [ ]:
def new_remainder_type(df, new_df):
    new_df['new_high'] = df.loc[df['remainder_type'] == 'high', 'remainder']
    new_df['new_middle'] = df.loc[df['remainder_type'] == 'middle', 'remainder']
    new_df['new_low'] = df.loc[df['remainder_type'] == 'low', 'remainder']
    new_df['middleqqq'] = df['middle']
    new_df['lowqqq'] = df['low']
    new_df = new_df.fillna(0)
    return new_df

In [ ]:
df1 = new_remainder_type(df2, new_df)
df1

In [ ]:
def create_new_df(df1, df2):
    pysqldf = lambda q: sqldf(q, globals())
    
    query = """
    SELECT 
        CASE
            WHEN df1.new_high > 0 THEN df1.new_high + df2.high
            ELSE df2.high
        END AS high,
        CASE
            WHEN df1.new_high > 0 THEN df1.middleqqq + df2.middle
            WHEN df1.new_middle > 0 THEN df1.new_middle + df2.middle
            ELSE df2.middle
        END AS middle,
        CASE
            WHEN df1.new_high > 0 THEN df1.lowqqq + df2.low
            WHEN df1.new_middle > 0 THEN df1.lowqqq + df2.low
            WHEN df1.new_low > 0 THEN df1.new_low + df2.low
            ELSE df2.low
        END AS low
    FROM 
        df1
    JOIN 
        df2
    """
    df3 = pysqldf(query)
    return df3

In [ ]:
df1 = pd.DataFrame({'new_high':[5,6,7], 'new_middle':[1,2,3], 'middleqqq':[2,3,4], 'lowqqq':[3,4,5], 'new_low':[1,2,3]})
df2 = pd.DataFrame({'high':[1,2,3], 'middle':[4,5,6], 'low':[7,8,9]})
df3 = create_new_df(df1, df2)
print(df3)

In [ ]:
create_new_df(df1, df2)

In [ ]:
df1 = pd.DataFrame({'new_high':[5,6,7], 'new_middle':[1,2,3], 'middle?':[2,3,4], 'low?':[3,4,5], 'new_low':[1,2,3]})
df2 = pd.DataFrame({'high':[1,2,3], 'middle':[4,5,6], 'low':[7,8,9]})
df3 = create_new_df(df1, df2)
print(df3)

In [ ]:
import pandas as pd

# Create sample dataframes
df1 = pd.DataFrame({'new_high': [7, 3, 8, 4, 6]})
df2 = pd.DataFrame({'high': [2, 5, 3, 7, 9]})

# Create an empty dataframe
df3 = pd.DataFrame()

# Add the values of DF1's new_high column and df2's high column to df3's high column
# only when DF1's new_high column is greater than 5
df3['high'] = df1['new_high'] + df2['high']
df3['high'] = df3['high'].where(df1['new_high'] > 5, 0)

# View the resulting dataframe
print(df3)

In [ ]:

def add_remainder_to_new_df(df, df2):
    new_df = pd.DataFrame()  
    if df[df['new_high'] > 0.0]:
        new_df["high"] = df['new_high'] + df2['high']
    return new_df

In [ ]:
add_remainder_to_new_df(df3, df2)

In [ ]:
df1 = high_middle_low(Central_to_East, 1)
df1['sent_units'] = loads['C_to_S']

In [ ]:
df1

In [ ]:
df2['sent_units'][0]

In [ ]:
df2 = pd.DataFrame({'sent_units': [loads['C_to_S']]})

In [ ]:
df2.transpose()

In [ ]:
from pandasql import sqldf

# Use pandasql to join the two dataframes
query = '''
SELECT
    df1.high,
    df1.middle,
    df1.low,
    df1.sent_units,
    CASE
        WHEN df1.high > df1.sent_units THEN df1.high - df1.sent_units
        WHEN df1.high + df1.middle > df1.sent_units THEN  df1.high + df1.middle - df1.sent_units
        ELSE df1.high + df1.middle + df1.low - df1.sent_units
    END AS remainder
FROM
    df1
'''

df_result = sqldf(query)

#create a new column indicating the remainder is high, middle or low 
df_result['remainder_type'] = np.where(df1.high > df1.sent_units, 'high',
                                      np.where(df1.high + df1.middle > df1.sent_units, 'middle',
                                               np.where(df1.high + df1.middle + df1.low - df1.sent_units > 0, 'low', 'other')))

df_result

In [ ]:
def add_remainder_to_new_df(df, new_df):
    new_df['new_high'] = df.loc[df['remainder_type'] == 'high', 'remainder']
    new_df['new_middle'] = df.loc[df['remainder_type'] == 'middle', 'remainder']
    new_df['new_low'] = df.loc[df['remainder_type'] == 'low', 'remainder']
    new_df['middle?'] = df['middle']
    new_df['low?'] = df['low']
    new_df = new_df.fillna(0)
    return new_df

In [ ]:
new_df = pd.DataFrame()
dfff = add_remainder_to_new_df(df_result, new_df)

In [ ]:
dfff

In [ ]:
def add_remainders_to_new_df(df, new_df):
    new_df["newhigh"] = 0
    new_df["newmedium"] = 0
    new_df["newlow"] = 0
    # filter rows where remainder_type is high
    high_remainder = df.loc[df["remainder_type"] == "high"]
    # assign remainder value to newhigh column in new_df
    new_df.loc[high_remainder.index, "newhigh"] = high_remainder["remainder"]
    # filter rows where remainder_type is medium
    medium_remainder = df.loc[df["remainder_type"] == "medium"]
    # assign remainder value to newmedium column in new_df
    new_df.loc[medium_remainder.index, "newmedium"] = medium_remainder["remainder"]
    # filter rows where remainder_type is low
    low_remainder = df.loc[df["remainder_type"] == "low"]
    # assign remainder value to newlow column in new_df
    new_df.loc[low_remainder.index, "newlow"] = low_remainder["remainder"]

In [ ]:
new_df = pd.DataFrame()
add_remainders_to_new_df(df_result, new_df)

In [ ]:
def newwwww(df_result['remainder_type']):
    df4_result = pd.DataFrame()
    df4_result["new_middle"] = np.where(df_result[remainder_type] == 'middle')
    return df4_result

In [ ]:
def my_fun (var1,var2,var3):
    df[var3]= np.where((df[var1]-df[var2])>0, df[var1]-df[var2], 0)
    return df

df1 = my_fun('age1','age2','diff')
print (df1)
   age1  age2  diff
0    23    10    13
1    45    20    25
2    21    50     0

In [ ]:
def newwwww(  ):
    if df[df['remainder_type'] == 'middle']:
        return df

In [ ]:
newwwww(df_result)

In [ ]:
def newwwww(df):
    if df.remainder_type == "high":
        return newdf["high"] == df["remainder"], new_df["middle"] == df["middle"], new_df["low"] == df["low"]
    elif df.remainder_type == "middle":
        return df["newhigh"] == 0, new_df["middle"] == df["remainder"], new_df["low"] == df["low"]
    elif df.remainder_type == "low":
        return df["newhigh"] == 0, new_df["middle"] == 0, new_df["low"] == df["remainder"]
    elif df.remainder_type == "other":
        return df["newhigh"] == 0, new_df["middle"] == 0, new_df["low"] == 0

In [ ]:
def newwwww(df):
    if df[df['remainder_type'] == 'high']:
        return df["newhigh"] == df["remainder"]
    elif df[df['remainder_type'] == 'middle']:
        return df["newmiddle"] == df["remainder"]
    elif df[df['remainder_type'] == 'low']:
        return df["newlow"] == df["remainder"]

In [ ]:
newwwww(df_result)

In [ ]:
query = '''
SELECT
    df_result.high,
    df_result.middle,
    df_result.low,
    df_result.remainder, 
    df_result.remainder_type,
    CASE
        WHEN df_result.remainder_type = high THEN df_result.high 
        
        
        df1.high > df2.sent_units THEN df1.high - df2.sent_units
        WHEN df1.high + df1.middle > df2.sent_units THEN  df1.high + df1.middle - df2.sent_units
        ELSE df1.high + df1.middle + df1.low - df2.sent_units
    END AS remainder
FROM
    df_result

In [ ]:
import pandas as pd

# Create the main dataframe
main = pd.DataFrame({'Day': ['Day 1']*4 + ['Day 2']*5 + ['Day 3']*6})

# Create the second dataframe
compare = pd.DataFrame({'Number': [5, 4, 6]})

# Create a function to compare the number of rows for each day to the corresponding number in the second dataframe
def compare_rows(day, number_df):
    if day == 'Day 1':
        return min(main[main['Day'] == day].shape[0], number_df.loc[0, 'Number'])
    elif day == 'Day 2':
        return min(main[main['Day'] == day].shape[0], number_df.loc[1, 'Number'])
    elif day == 'Day 3':
        return min(main[main['Day'] == day].shape[0], number_df.loc[2, 'Number'])

# Apply the function to the main dataframe and add the result to a new column named 'result'
main['result'] = main.apply(lambda x: compare_rows(x['Day'], compare), axis=1)

In [ ]:

def random_num_of_customer_orders(seed, loc, scale, size1, size2):
    np.random.default_rng(seed)
    rncos = np.random.normal(loc = loc, scale = scale, size = (size1, size2)).tolist()
    rnco = rncos[0]
    rncoi= ([int(a) for a in rnco])
    df = pd.DataFrame()
    start = 0
    for i in range(1, len(rncoi) + 1):
        end = start + rncoi[i - 1]
        df_temp = pd.DataFrame({'Day': ['Day {}'.format(i)] * rncoi[i - 1]})
        df = pd.concat([df, df_temp], ignore_index=True)
    return df




def random_customers(orders, low, high):
    customers = []
    for a in orders:
        rng = np.random.default_rng()
        m = rng.integers(low, high, size=(a))
        customers.append(m)
    return customers


def customer_data(random_customers):
    customers = []
    for index, item in enumerate(random_customers):
            super_explore['Day'][item] = index
    for a in random_customers:
        q = super_explore.iloc[a]
        customers.append(q)
        df2 = pd.concat(customers)
    return df2